.header {
    display: flex;
    padding: 0;
    justify-content: space-between;
    &__logo-menu {
        display: flex;
    }
    &__logo {
        color: #fff;
        font-size: 20px;
        display: inline;
        padding: 0 20px;
    }
    &__logout {
        color: #fff;
        font-size: 20px;
        display: inline;
        padding: 0 20px;
        cursor: pointer;
    }
    &__logout:hover {
        color: #40a9ff;
    }

    &__menu {
        a {
            font-size: 16px;
            color: #fff;
        }
    }
}
